<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="NAME" value="Ch11"/>
	<!-- 배포용 -->
	<property name="NAME" value="/home/tomcat/logs"/>
	
	<!-- 콘솔출력 -->
  	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
   		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
     		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	</encoder>
  	</appender>

	<!-- 파일출력 -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${DIR}/${NAME}.log</file>
		<append>true</append>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
     		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	</encoder>
	</appender>
  	<root level="info">
    	<appender-ref ref="STDOUT" />
    	<appender-ref ref="FILE" />
  	</root>

</configuration>